@media only screen and (max-width: 740px) {
  #wrapper { 
    background: initial; /* annule la couleur de fond */
    display: flex;
    flex-direction: column; /* une seule colonne */
  }
}

@media only screen and (max-width: 570px) {
  #wrapper { 
    background: initial;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  #wrapper { 
    background: initial;
    display: flex;
    flex-direction: column;
  }
}
